* {
    margin:0%;
    padding:0%;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #8C8988;
    color: #0D0D0D;
}
#page {
    height:100%;
    background-color: #F2F2F2;
    margin: 2% 15%;
    padding:2%;
    text-align: left;
    border: solid 1px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
#newspaper-header {
    border-bottom:solid black 1px;
    margin-bottom: 20px;
    display:flex;
    width:100%;
    text-align: center;
    justify-content: space-between;
}

#newspaper-name {
    text-decoration: underline 2px;
    font-family: 'Texturina', serif;
    padding:5px;
    margin-bottom: 10px;
}
h2 {
    font-size: 18px;
}
p {
    text-indent: 40px;
}
.first-letter {
    font-size: 30px;
    font-family:fantasy;
}


